<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../../build/common/reset.css">
    <link rel="stylesheet" href="../../../../build/common/typography.css">
    <link rel="stylesheet" href="../../../../build/skins/bootstrap/components/menu.css">
    <style>
        body {
            padding: 40px;
        }
        body>ul {
            width: 40%;
        }
        ul {
            margin-bottom: 25px;
        }
    </style>
</head>
<body>
    <ul class="menu menu_horizontal">
        <li class="menu_active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
        <li>
            <a href="#">Messages</a>
        </li>
    </ul>
    <ul class="menu menu_horizontal">
        <li>
            <a href="#">Clickable link</a>
        </li>
        <li>
            <a href="#">Clickable link</a>
        </li>
        <li class="menu_disabled">
            <a href="#">Disabled link</a>
        </li>
    </ul>
    <ul class="menu menu_vertical">
        <li class="menu_active menu_top">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
        <li class="menu_bottom">
            <a href="#">Messages</a>
        </li>
    </ul>
    <ul class="menu menu_vertical menu_pills">
        <li class="menu_active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Profile</a>
        </li>
        <li>
            <a href="#">Messages</a>
        </li>
    </ul>
    <ul class="menu menu_horizontal" style="margin-bottom: 200px;">
        <li class="menu_active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Help</a>
        </li>
        <li class="menu_sub">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                Dropdown
            </a>
            <ul class="menu_sub-menu">
                <li>
                    <a href="#">Action</a>
                </li>
                <li>
                    <a href="#">Another action</a>
                </li>
                <li>
                    <a href="#">Something else here</a>
                </li>
                <li class="menu-divider"></li>
                <li>
                    <a href="#">Separated link</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="menu menu_vertical menu_list">
        <li class="menu-header">List header</li>
        <li class="menu_active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Library</a>
        </li>
        <li>
            <a href="#">Applications</a>
        </li>
        <li class="menu-header">Another list header</li>
        <li>
            <a href="#">Profile</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
        <li class="menu-divider"></li>
        <li>
            <a href="#">Help</a>
        </li>
    </ul>
</body>
</html>