@import "init.less";
// ==========================================================================
// Forms-core
// ==========================================================================
form {
	margin: 0;
	font-family: "sans-serif";

	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		.inline-block();
		letter-spacing: normal;
		text-decoration: none;
		text-align: center;
		.box-sizing(border-box);
	}
}
 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select {
	.inline-block();
	max-width: 100%;
	letter-spacing: normal;
	outline: none;
	// vertical-align: top;
	.box-sizing(border-box);
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
	letter-spacing: normal;
	cursor: pointer;
}

label {
	display: block;	
	letter-spacing: normal;
}


// ==========================================================================
// Forms-extend
// ==========================================================================

.form-prepend,
.form-append {
	letter-spacing: -4px;

	.form_prepend,
	.form_append {
		.inline-block();
		height: 2em;
		padding: 0.3em 0.6em;
		font-weight: bold;
		// border: 1px solid @input-decorate-borderColor;
		// background: @input-decorate-bgColor;
		text-align: center;
		vertical-align: top;	
		letter-spacing: normal;	
		.box-sizing(border-box);
	}

	.form_prepend {
		.px-to-rem("margin-right",-2);
	}
	.form_append {
		.px-to-rem("margin-left",-2);
	}
}
 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
select {
	line-height: normal;
	padding: 0.5em 0.6em;
	font-size: 0.8em;
	border: 1px solid #cccccc;
	.border-radius(4px);
	background-color: @input-bgColor;
	.inner-shadow(0 1px 3px #dddddd);
	.transition(border 0.3s linear);
}

input[type="checkbox"],
input[type="radio"] {
	font-weight: normal;
	cursor: default !important;
}

select {
	height: auto;
	font-family: sans-serif;
	font-size: 0.8em;
	background-color: #ffffff;
	border-color: #cccccc;
}

select:focus {
	border-color: #129fea;
}

textarea {
	width: auto;
	height: auto;
	// min-height: 60px;
	min-height: 4em;
}

label {
	// margin-bottom: 5px;
	display: inline-block;
    margin: 0.5em 0 0.2em;
	color: #999999;
    font-size: 90%;
	.px-to-rem('margin-bottom', @base-fontSize * 0.33);
}


input.form_success,
textarea.form_success,
select.form_success {
	// border-color: @input-success-borderColor;
}

input.form_disabled {
	color: #cad2d3;
	background-color: #eaeded;
	border-color: transparent;
	cursor: not-allowed !important;
}

input:focus,
textarea:focus {
	border-color: #129fea;
}

input.form_error,
textarea.form_error,
select.form_error {
	&:focus {
		border-color: #e9322d;
	}
}

form fieldset {
	border: 0 none;
    margin: 0;
    padding: 0.35em 0 0.75em;
}

legend {
   	border-bottom: 1px solid #E5E5E5;
    color: #333333;
    display: block;
    font-size: 125%;
    margin-bottom: 0.3em;
    padding: 0.3em 0;
    width: 100%;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	// height: 30px;
	// padding: 4px 10px;
	line-height: normal;
	padding: 0.5em 1.5em;
	font-size: 100%;
	vertical-align: baseline;
	border: 0 none transparent;
	.border-radius(2px);
	background-color: #e6e6e6;
	.transition(box-shadow 0.1s linear);
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {

	&:hover {
		#gradient>.vertical-three-colors(transparent,rgba(0,0,0,0.05),40%,rgba(0,0,0,0.1));
		background-color: #E6E6E6;
	}
	&:active {
		.inner-shadow(~"0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 6px rgba(0, 0, 0, 0.2)");
	}
}

.notice {
    background-color: #61B842;
    color: white;
    &:hover {
		#gradient>.vertical-three-colors(transparent,rgba(0,0,0,0.05),40%,rgba(0,0,0,0.1));
		background-color: #61B842;
	}
}

.form-stacked label,
.form-stacked input[type="email"],
.form-stacked input[type="password"] {
	display: block;
}

.form-control-group {
	margin-bottom: 0.5em;
}

.form-controls {
	margin: 1.5em 0 0 10em;
}

.form-aligned label {
	display: inline-block;
    width: 10em;
    margin: 0 1em 0 0;
    color: #999999;
    font-size: 90%;
    text-align: right;
    vertical-align: middle;
}

.form-aligned .form-checkbox {
	display: block;
    margin: 0.5em 0;
    white-space: nowrap;
}

.form-u-1-3 {
	display: inline-block;
	width: 33%;
	letter-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
    word-spacing: normal;
}

.form-group input {
    display: block;
    position: relative;
    top: -1px;
    margin: 0;
    padding: 10px;
}

.form-group input:focus {
	z-index: 2;
}

.form-group input:first-child {
    top: 1px;
    margin: 0;
    padding: 10px;
	border-radius: 4px 4px 0 0;
}

.form-group input:last-child {
	border-radius: 0 0 4px 4px;
    top: -2px;
}

.form-input-1 {
	width: 100%;
}
.form-input-2-3 {
	width: 66%;
}
.form-input-1-2 {
	width: 50%;
}
.form-input-1-3 {
	width: 33%;
}
.form-input-1-4 {
	width: 25%;
}

.form-g {
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    div {
    	display: inline-block;
    	margin-right: -1px;
    	.box-sizing(border-box);
    }
}
.form-u-1-4 {
	width: 25%;
}
.form-u-3-4 {
	width: 75%;
}
.form-u-1-2 {
	width: 50%;
}
.form-u-1-8 {
	width: 12.5%;
}
.form-u-1-5 {
	width: 20%;
}
.form-u-2-5 {
	width: 40%;
}
.form-u-1 {
	width: 100%;
}

.form-checkbox,
.form-radio {
	display: block;
    margin: 0.5em 0;
    color: #999999;
    font-size: 90%;
}